@media (max-width: 768px) {

  /* HEADER */

  header {
    /* position: relative; */
    height: 70px;
  }

  .header-heading {
    font-size: 24px;
  }

  /* HAMBURGER MENU ICON */

  .menu-icon {
    display: block;
    color: var(--font-dark);
    font-size: 30px;
    cursor: pointer;
    margin-right: 36px;
  }

  header nav {
    /* display: block; */
    /*!important;*/
    display: none;
    position: absolute;
    top: 80px;
    background-color: var(--background-light);
    width: 100%;
    z-index: 999;
    margin-right: 30px;
    margin-left: 30px;
  }

  .logo img {
    margin-left: 30px;
    height: 45px;
    width: auto;
    /* width: 50px; */
    /* top: 40px; */
    position: relative;
    z-index: 999;
  }

  nav ul:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--background-light);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 70px;
    left: 0;
  }

  nav ul:nth-child(2) {
    /* display: none; */
  }

  nav li a {
    color: var(--font-dark);
    font-size: 34px;
  }




  /* RECTANGLES */

  .rectangle-container {
    display: none;
  }

  /* RECTANGLES MENU - MOBILE VERSION */

  .rectangle-container_mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30vh;
  }

  .rectangle-container_mobile a {
    text-decoration: none;
    color: var(--light);
    padding: 30px;
  }

  /* SECOND PAGE GALLERY */

  .secondpage-gallery-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px;
  }

  .image01,
  .image02,
  .image03 {
    transition: transform 0.3s ease;
  }

  .image01:hover,
  .image02:hover,
  .image03:hover {
    transform: scale(1.01);
  }



  /* SECTION 04  */

  .fourth-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* GOOGLE MAP */

  .contact-googlemap {
    text-align: center;
    width: 100%;
    margin-bottom: 100px;
  }

  /* FORM */

  .form {
    text-align: center;
    /* padding-left: 40px; */
    padding-bottom: 20%;
    width: 100%;
  }


  /* FOOTER */

  /* FOOTER - ARROW UP */

  .fa-arrow-up-from-bracket {
    margin-right: 30px;
  }

  /* COPYRIGHT */

  .copyright {
    margin-left: 30px;
  }

}
