@media (max-width: 600px) {

  /* HEADER */

  header {
    position: relative;
    height: 70px;
  }

  header nav {
    /* display: block; */
    /*!important;*/
    display: none;

    position: absolute;
    top: 80px;
    background-color: var(--background-light);
    width: 100%;
    z-index: 999;
  }

  .logo img {
    width: 100px;
    top: 40px;
    position: relative;
    z-index: 999;
  }

  /* HAMBURGER MENU ICON */

  .menu-icon {
    display: block;
    color: var(--font-dark);
    font-size: 30px;
    cursor: pointer;
  }


  /* RECTANGLES */

  .rectangle-container {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    right: 0;
    bottom: 0;
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
  }

  .rectangle {
    width: 190px;
    max-height: 130px;
    border-width: 7px;
  }
