@media (max-width: 768px) {

  /* HEADER */

  header {
    /* position: relative; */
    height: 70px;
  }

  /* HAMBURGER MENU ICON */

  .menu-icon {
    display: block;
    color: var(--font-dark);
    font-size: 30px;
    cursor: pointer;
  }

  header nav {
    /* display: block; */
    /*!important;*/
    display: none;

    position: absolute;
    top: 80px;
    background-color: var(--background-light);
    width: 100%;
    z-index: 999;
  }

  .logo img {
    width: 60px;
    top: 40px;
    position: relative;
    z-index: 999;
  }

  nav ul:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--background-light);
    width: 100vw;
    height: 100vh;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
  }

  nav ul:nth-child(2) {
    display: none;
  }

  nav li a {
    color: var(--font-red);
    font-size: 28px;
  }




  /* RECTANGLES */

  .rectangle-container {
    display: none;
  }

}
