/* RECTANGLES DESAPEARES ON SMALL-SIZE MEDIA */

@media (max-width: 885px) {
  /* 
  .first-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .rectangle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    position: relative;
    right: auto;
    bottom: auto;
  }

  .main-rectangle_text {
    font-size: 14px;
  }

  .rectangle-text {
    font-size: 14px;
  }

  .rectangle {
    width: 140px;
    height: 100px;
    border: 6px solid var(--light);
  } */

  /* .rectangle-container {
    display: none;
  } */
}
